$font-weight-outfit-700:700;
$font-weight-outfit-600:600;
$font-weight-outfit-500:500;
$font-weight-outfit-400:400;
$white-color:#ffffff;
$dark-blue:#02022B;
$ligth-grey:#797F99;
$orange-color:#F27059;
